*{
  font-family: 'Times New Roman', Times, serif;
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
.header{
  width: 100%;
  line-height: 100px;
  background-color: orange;
  display: flex;
  justify-content: start;
  align-items: center;
  padding-left: 50px;
  color: white;
  box-shadow: 3px 5px 15px -5px black;
}
form{
  margin-top: 25px;
  margin-left: 20px;
  font-size: 25px;
  font-family: 'Times New Roman', Times, serif;
  width: 32%;
  height: auto;
  min-height: 50px;
  color: #ecf0f1;
  padding: 15px 10px 5px 10px;
  box-shadow: 3px 5px 15px -5px black;
  border-radius: 10px;
  position: relative;
}
textarea{
  width: 100%;
  font-size: 25px;
  font-family: 'Times New Roman', Times, serif;
  line-height: 80px;
  background: transparent;
  border: none;
  margin: 10px 0;
}
input:not([type="range"]):not([type="color"]) {
  writing-mode: horizontal-tb !important;
  width: min-content;
  height: 50px;
  border: none;
  border-radius: 15px;
  font-size: 25px;
  font-family: 'Times New Roman', Times, serif;
}
/* .note {
  margin-top: 20px;
  margin-bottom: 20px;
  max-width: 500px;
  background-color: #ecf0f1;
  padding: 15px;
  border-radius: 10px;
  justify-content: space-betweensss;
  box-shadow: 3px 5px 15px -5px black;
  display: grid;
  grid-template-columns: repeat(4,1fr);
  gap: 10px;
  position: relative; 
  flex-wrap: wrap;
} */
.note h1 {
  margin-bottom: 6px;
  font-size: 1.1em;
  color: #333;
}
.note p {
  margin-bottom: 10px;
  white-space: pre-wrap;
  font-size: 1.1em;
  color: #555; 
}
.btn {
  position: absolute;
  top: 10px;
  right: 10px;
  color: #f4b400;
  background: transparent;
  border: none;
  cursor: pointer;
}
.deleteIcon {
  color: #f4b400;
  border: none;
  background: transparent;
  cursor: pointer;
}
.footer_container {
  position: fixed; 
  bottom: 0; 
  width: 100%; 
  text-align: center; 
  background-color: #f0f0f0; 
  padding: 10px 0;
}

/* @media (max-width: 1200px)
{
  .note{
    max-width: 400px;
  }
} */

.note-container {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  justify-content: flex-start;
}

.note {
  flex-basis: calc(25% - 10px); /* 25% width for each note with 10px gap */
  background-color: #ecf0f1;
  padding: 15px;
  border-radius: 10px;
  box-shadow: 3px 5px 15px -5px black;
}

/* Adjust flex-basis for responsiveness */
@media (max-width: 1200px) {
  .note {
    flex-basis: calc(33.33% - 10px);
  }
}

@media (max-width: 768px) {
  .note {
    flex-basis: calc(50% - 10px);
  }
}

@media (max-width: 480px) {
  .note {
    flex-basis: 100%;
  }
}
